BasedOnStyle: llvm
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
IndentWrappedFunctionNames: false
ColumnLimit: 80
IndentWidth: 2
AlwaysBreakAfterReturnType: All
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
SpacesBeforeTrailingComments: 2
