# Stop searching for additional config files.
set noparent

# With all of this below, maybe I shouldn't be using cpplint?
filter=-build/c++11
filter=-whitespace/braces
filter=-whitespace/semicolon
filter=-whitespace/newline
filter=-runtime/references
filter=-build/include_order
filter=-readability/braces
filter=-build/header_guard
